<% if current_user?(@user) %>
  <%= link_to 'Edit Account', edit_user_path(@user) %>
  <%= link_to 'Delete Account', @user, method: :delete, data: {confirm: 'Are you sure?'}, class: 'button' %>
<% end %>
<article id="user">
  <header>
    <h1>Name: <%= @user.name %></h1>
    <h2>Email: <%= mail_to(@user.email) %></h2>
  </header>
</article>

<%= link_to pluralize(@user.contacts.size, "contact"),
            user_contacts_path(@user) %>

<%= link_to "Add Contact", new_user_contact_path(@user),
                         class: 'button ok contact' %>
