<header id="content-header">
  <h1>Contacts for <%= link_to(@user.name, @user) %></h1>
</header>
<ol>
  <% @contacts.each do |contact| %>
    <li>
      <p>
        <%= link_to contact.name, user_contact_path(@user, contact) %>:
      </p>
      <p>
        <%= contact.email %>
      </p>
      <p>
        <%= contact.phone %>
      </p>
      <p>
        <%= contact.address %>
      </p>
      <p>
        <h3> Added <%= time_ago_in_words(contact.created_at) %> ago. </h3>
      </p>
    </li>
  <% end %>
</ol>

<%= link_to "Add Contacts", new_user_contact_path(@user),
                         class: 'button ok contact' %>
